* {
  margin: 0;
  padding: 0;
  text-decoration: none; 
  color: inherit;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90%;
}

.title {
  width: 100%;
}
.logo {
  background-image: url('https://assets.codepen.io/6060109/ig-logo.png');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  background-position: center center;
  width: 280px;
  height: 75px;
}

.loginContainer {
  width: 375px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 7.5em;
}
.title img {
  width: 18em;
}
.credentials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  height: 18em;
  width: 96%;
  margin-bottom: 20px;
}
.credentials input {
  width: 80%;
  height: 33px;
  border-radius: .2em;
  margin: 3px 0 3px 0;
  outline: 0;
  border: 1px solid rgba(191, 191, 191, .5);
  background-color:  #FAFAFA;;

}
.credentials button {
  width: 80%;
  height: 30px;
  background-color: rgba(3, 149, 246, .3);
  color: white;
  border-radius: .2em;
  border: none;
  margin: 10px 0 10px 0; 
}
.or {
  margin: 5px 0 20px 0; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: grey; 
}
.or p {
  margin: 0 15px 0 15px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}
.line {
  border-bottom: 1px solid 	rgb(220,220,220);
  width: 110px;
  transform: translateY(-8px);
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0 0 50px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;

}

.facebook img {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 5px; 
}

.forgotPassword {
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 32px 0; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, .6)
  
}
.signUp {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 60px;
  margin-bottom: 45px;
}
.signUp p {
  margin: 0 .5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, .8)
}
.signUp a {
  color:#0395F6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold; 
}
.getTheApp{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.getTheApp p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, .75);
  font-weight: lighter; 
  margin-bottom: 20px;
}
.appStoresImgs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.appStore {
  background-image: url('https://assets.codepen.io/6060109/IG-app-store-button.png');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  background-position: center center;
  width: 7.9em;
  height: 2.5em;
  border-radius: .5em;
  margin: 0 .3em 0 .3em; 
}
.googlePlay {
  background-image: url('./images/GooglePlay.PNG');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  background-position: center center;
  width: 7.9em;
  height: 2.5em;
  border-radius: .5em;
  margin: 0 .3em 0 .3em;
}

footer {
  width: 100%;
  height: 9.7em;
  bottom: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  transform: translateY(120px);
}
footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  font-weight: lighter;
  
}
.footerLinksContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.footerLinks {
  height: 14px;
  margin: 0 .5em 0 .5em;
}

.languageCopywrite {
  display: flex;
}

.language,
.copyRight {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  font-weight: lighter;
  display: flex;
  margin-bottom: .5em;
}
.language p {
  margin: 0 .5em; 
}
.copyRight p:nth-child(1) {
  margin: 0 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 280px) {
  .loginContainer {
    height: auto;
    width: auto;
  }
  .getTheApp {
    height: auto;
    width: auto;
    margin-top: -50px;
  }
  footer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: auto;
  }
  .footerLinksContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  .languageCopywrite {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
  }
  .language,
  .copyRight {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  font-weight: lighter;
  display: flex;
  }
  .copyRight p:nth-child(1) {
  margin: 0 30px;
  }
}

@media only screen and (max-width: 320px) {
  .loginContainer {
    height: 450px;

  }
  
  .signUp {
    margin-top: -50px;
  }
  .getTheApp {
    height: auto;
    margin-top: -70px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  body {
    margin-top: 60px;
    background-color: #FAFAFA;
  }
  .loginContainer {
    background-color: white;
    border: 1.5px solid rgba(0, 0, 0, .1);
    height: 380px;
    width: 375px;
  }
  .credentials {
    margin-bottom: -20px;
    background-color: transparent;
  }
  
  .signUp {
    margin-bottom: 80px;
    background-color: white;
    align-items: center;
    border: 1.5px solid rgba(0, 0, 0, .1);
  }
  .getTheApp {
    background-color: #FAFAFA;
  }
  footer {
    width: 90%;
    background-color: #FAFAFA;
    transform: translateY(200px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 876px) {
  .pageContainer {
    width: 750px;
    display: flex;
    flex-direction:row-reverse ;
  }
  .iPhone {
    width: 375px;
    height: 570px;
    background-color: #0395F6;
    margin-right: 2em;
  }
  .iPhoneImg {
    width: 100%;
    height: 100%;
    background-image: url('./images/iPhone.PNG');
    background-size: cover;
    flex-direction: column;
    background-position: center center;
  }
  footer {
    max-width: 876px;
    display: flex;
    flex-direction: column;
  }
}
